@media (max-width: 1400px) {
  .container {
    width: 1100px;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 950px;
  }
  ul{
    display: none;
    visibility: hidden;
}
.nav-content{
    justify-content: space-between;
}
.home-page{
  margin-block: 100px;
  height: 100%;
}
  .about {
    width: 50%;
  }
  .subscribe {
    order: 10;
    width: 100%;
    padding-left: 0;
  }
  .subscribe h3 {
    text-align: left;
  }
  .sub-mail {
    width: 87%;
  }
  .get {
    width: 50%;
    padding-left: 40px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 700px;
  }
  .home-page {
    flex-direction: column;
    width: 100%;
    margin-top: 200px;
    height: fit-content;
  }
  .home-page .left-side {
    width: 80%;
    margin-bottom: 100px;
    text-align: center;
  }
  .home-page .left-side h1{
    width: 70%;
    margin: auto;
}
  .plate-image {
    order: -1;
    width: 90%;
    text-align: center;
    width: 100%;
  }
  .plate-image img{
    width: 90%;
    filter: drop-shadow(5px 5px 10px var(--color-imgshadow));
}
.plate-image:hover img{
  animation: imgAnime 01s ease-in 0s infinite normal both;
}
.chefs{
  justify-content: space-between;
}
.chef{
  width: calc(95%/2);
  margin-bottom: 30px;
}
.last-chef{
  margin: auto;
}
.gallery-bg{
  width: 100%;
  column-gap: 20px;
  columns: 2;
}   
  .sub-mail {
    width: 82%;
  }
  .name {
    width: 100%;
    margin-right: 0;
  }
  .email {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .container {
    width: 550px;
  }
  .chef{
    width: calc(95%/1);
}
.chefs{
    justify-content: center;
}
.gallery-bg{
  width: 100%;
  column-gap: 20px;
  columns: 1;
}  
  .about {
    width: 100%;
  }
  .subscribe {
    width: 100%;
  }
  .get {
    width: 100%;
    order: 10;
    padding-left: 0;
  }
  .contacnt-info {
    width: 100%;
  }
}

@media (max-width: 600px){
    .container{
        width: 100%;
    }
}
